<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.10" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Base" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Grid.Windows" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Licensing" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Base" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Shared.Windows" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.SpellChecker.Base" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Tools.Base" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
  <package id="Syncfusion.Tools.Windows" version="18.3.0.42" targetFramework="net45" requireReinstallation="true" />
</packages>