<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinding.App.Console.Settings.Features" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Pathfinding.App.Console.Settings.Parametres" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinding.App.Console.Settings.Keys" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pathfinding.App.Console.Settings.Colours" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Pathfinding.App.Console.Settings.Features>
            <setting name="ApplyColorEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyPathfindingStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyTransitVertices" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyGraphEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyGraphSharing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyPathfindingHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyVisualizationControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyWaveAlgorithms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyGreedyAlgorithms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyPathfindingVisualization" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyKeysEditor" serializeAs="String">
                <value>True</value>
            </setting>
        </Pathfinding.App.Console.Settings.Features>
        <Pathfinding.App.Console.Settings.Parametres>
            <setting name="MaxGraphWidth" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MinGraphWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxGraphLength" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="MinGraphLength" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxCost" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="MinCost" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxObstaclePercentValue" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="MinObstaclePercentValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VisualizationDelayMaxValue" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VisualizationDelayMinValue" serializeAs="String">
                <value>0</value>
            </setting>
        </Pathfinding.App.Console.Settings.Parametres>
    </applicationSettings>
    <userSettings>
        <Pathfinding.App.Console.Settings.Keys>
            <setting name="VertexUp" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="VertexDown" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="VertexLeft" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="VertexRight" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="IncludeInRange" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="ExcludeFromRange" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="ReverseVertex" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="IncreaseCost" serializeAs="String">
                <value>UpArrow</value>
            </setting>
            <setting name="DecreaseCost" serializeAs="String">
                <value>DownArrow</value>
            </setting>
            <setting name="ReplaceTransit" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="MarkToReplace" serializeAs="String">
                <value>R</value>
            </setting>
            <setting name="SpeedUp" serializeAs="String">
                <value>UpArrow</value>
            </setting>
            <setting name="SpeedDown" serializeAs="String">
                <value>DownArrow</value>
            </setting>
            <setting name="ResumeAlgorithm" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="PauseAlgorithm" serializeAs="String">
                <value>P</value>
            </setting>
            <setting name="InterruptAlgorithm" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="StepByStepPathfinding" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="SmoothGraph" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="UndoSmooth" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="ResetSmooth" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="SubmitSmooth" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="NeighbourhoodAction" serializeAs="String">
                <value>Enter</value>
            </setting>
            <setting name="ExitVertexAction" serializeAs="String">
                <value>Spacebar</value>
            </setting>
            <setting name="ExitVertexSwitching" serializeAs="String">
                <value>Escape</value>
            </setting>
        </Pathfinding.App.Console.Settings.Keys>
        <Pathfinding.App.Console.Settings.Colours>
            <setting name="ObstacleColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RegularColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="VisitedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="EnqueuedColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="PathColor" serializeAs="String">
                <value>DarkYellow</value>
            </setting>
            <setting name="CrossedPathColor" serializeAs="String">
                <value>DarkRed</value>
            </setting>
            <setting name="SourceColor" serializeAs="String">
                <value>Magenta</value>
            </setting>
            <setting name="TargetColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TransitColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="NeighbourhoodColor" serializeAs="String">
                <value>Cyan</value>
            </setting>
        </Pathfinding.App.Console.Settings.Colours>
    </userSettings>
</configuration>