<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinding.App.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pathfinding.App.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pathfinding.App.Console.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ForegroundColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="RegularVertexColor" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="SourceVertexColor" serializeAs="String">
                <value>BrightMagenta</value>
            </setting>
            <setting name="TargetVertexColor" serializeAs="String">
                <value>BrightRed</value>
            </setting>
            <setting name="VisitedVertexColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="EnqueuedVertexColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TranstiVertexColor" serializeAs="String">
                <value>BrightGreen</value>
            </setting>
            <setting name="PathVertexColor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="CrossedPathColor" serializeAs="String">
                <value>Red</value>
            </setting>
        </Pathfinding.App.Console.Settings>
    </userSettings>
    <applicationSettings>
        <Pathfinding.App.Console.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=pathfinding.sqlite;</value>
            </setting>
        </Pathfinding.App.Console.Settings>
    </applicationSettings>
</configuration>