[*.{cs,vb}]

# IDE0048: Добавить круглые скобки для ясности
dotnet_diagnostic.IDE0048.severity = none

# IDE0058: Значение выражения никогда не используется
dotnet_diagnostic.IDE0058.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none
